.title {
  color: #F7F7F7;
  font-family: calibri;
  text-align: center;
  font-size: 3rem;
  background-color: #1E3FE6;
  font-style: normal;
  border: 3px solid black;
  background-size: contain;
  width: 428px;
  height: 80px;
  padding: 2px;
  border-radius: 25px;
  border-width: thick;
  margin-left: auto;
  margin-right: auto;
}

/*.center {
  position:fixed;
  display: block;
  margin: 0 auto;
}*/

.bod {
  background-color: aqua;
  background-size: auto;
}
